@page
@model TaxiNet.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="row align-items-center justify-content-center" style="height: calc(90vh - 137.4px);">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <h2 class="about mt-3">About Us</h2>
        <p class="about-text mt-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste labore minus nulla odio porro recusandae repudiandae. Aliquam cum deleniti explicabo molestias nisi officia omnis optio provident quae quas. A animi aperiam consequatur, cum cupiditate earum, error est eveniet ex expedita, facilis illum labore maiores odio officia pariatur placeat praesentium quia ratione reiciendis repellendus rerum tempore tenetur unde ut velit voluptatum!
        </p>
        <a asp-area="" asp-page="/Contact" class="contactus">Contact us</a>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
        <img class="about-img-cont" src="images/About.jpg" alt="Woman With Taxi">
    </div>
</div>