@page
@model TaxiNet.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="~/images/slide1.jpg" alt="png">
            <div class="box">
                <h2>Taxi Topic</h2>
                <p>Best taxi in Georgia Best taxi in Georgia Best taxi in Georgia</p>
            </div>
            <div class="slide-overlay"></div>
        </div>
        <div class="swiper-slide">
            <img src="~/images/slide2.jpg" alt="png">
            <div class="box">
                <h2>Taxi Topic</h2>
                <p>Best taxi in Georgia Best taxi in Georgia Best taxi in Georgia</p>
            </div>
            <div class="slide-overlay"></div>
        </div>
        <div class="swiper-slide">
            <img src="~/images/slide3.jpg" alt="png">
            <div class="box">
                <h2>Taxi Topic</h2>
                <p>Best taxi in Georgia Best taxi in Georgia Best taxi in Georgia</p>
            </div>
            <div class="slide-overlay"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>